@page "/"
@using Interfaces
@using Digizuite.Models
@using RabbitMQConections
@inject RabbitMQ rabbitmq
<h1>Hello, world!</h1>

Welcome to your new app.
<button class="btn btn-primary" @onclick="Public"></button>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    public IMessage message = new Message() { FilType = "Mp4", Location = "\\Test", Fromats = new List<string>{ "Vga" } };
    private void Public()
    {
        rabbitmq.PublicMessage<IMessage>(message);
    }
}